//--------------------------------------------------------------
// THEME FONTS
//--------------------------------------------------------------

@font-face {
	font-family: 'Aktiv Grotesk Bold';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/AktivGrotesk_W_Bd.eot');
	src: url('../fonts/AktivGrotesk_W_Bd.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AktivGrotesk_W_Bd.woff') format('woff'),
	url('../fonts/AktivGrotesk_W_Bd.woff2') format('woff2');
}

@font-face {
	font-family: 'Aktiv Grotesk Medium';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/AktivGrotesk_W_Md.eot');
	src: url('../fonts/AktivGrotesk_W_Md.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AktivGrotesk_W_Md.woff') format('woff'),
	url('../fonts/AktivGrotesk_W_Md.woff2') format('woff2');
}

@font-face {
	font-family: 'Aktiv Grotesk Light';
	font-style: normal;
	font-weight: normal;
	src: url('../fonts/AktivGrotesk_W_Lt.eot');
	src: url('../fonts/AktivGrotesk_W_Lt.eot?#iefix') format('embedded-opentype'),
	url('../fonts/AktivGrotesk_W_Lt.woff') format('woff'),
	url('../fonts/AktivGrotesk_W_Lt.woff2') format('woff2');
}
