//--------------------------------------------------------------
// accordion
//--------------------------------------------------------------
.c-accordion {
	border: 3px solid #D9D9D9;
	border-radius: 10px;
	margin-bottom: 90px;


	button {
		align-items: center;
		display: flex !important;
		justify-content: center;
		min-height: 100px;
	}

	&__inner {
		padding: 0 20px;
	}

	&__title {
		cursor: pointer;
		display: block;
		position: relative;
		text-align: left;
		width: 100%;

		&:focus {
			outline: 1px dotted $color-primary;
		}

		.h4 {
			color: #4D4D4D;
			display: inline-block;
			font-family: $font-aktiv-grotesk-light;
			font-size: rem-calc(32);
			font-weight: 300;
			position: relative;

			&::after {
				background-image: url(../images/angle-down-light.svg);
				background-position: 50%;
				background-repeat: no-repeat;
				background-size: 70%;
				color: #005AE1;
				content: '';
				height: 30px;
				position: absolute;
				right: -30px;
				top: 10px;
				width: 21px;
			}
		}

		&.is-active {
			.h4 {
				&::after {
					transform: rotate(180deg);
				}
			}
			& + .c-accordion__content {
				display: block;
			}
		}
	}

	&__content {
		display: none;
		padding-bottom: 30px;
	}

	.is-active {
		display: block;
	}
}
