//--------------------------------------------------------------
// SOCIAL MEDIA
//--------------------------------------------------------------

.c-social-media {
	background-color: $color-white;
	display: inline-flex;
	padding: 2px 10px 0;

	// <li>
	&__item {
		&:not(:last-child) {
			margin-right: 20px;
		}
	}

	// <a>
	&__link {
		color: $color-primary;

		svg,
		path {
			color: $color-white;
			height: 24px;
			width: 24px;
		}

		&:hover,
		&:focus {
			svg,
			path {
				color: $color-secondary;
			}
		}
	}

	svg {
		display: block;
		transition: transform 0.2s ease-in-out;
	}
}
