//--------------------------------------------------------------
// FRONT PAGE HERO
//--------------------------------------------------------------
.hero-home {
	margin-bottom: 90px;

	@include mq($mq-full) {
		margin-bottom: 86px;
	}
}


//-----------------------------------------
// Image Slider
//-----------------------------------------
.hero-home {
	&__images {
		background-color: $color-primary-light;
		display: flex;
		min-height: 380px;
		position: relative;

		@include mq($mq-full) {
			height: 70vh;
			max-height: 620px;
		}
	}

	&__slide {
		align-items: flex-end;
		display: flex;

		&-inner {
			margin: 0 auto;
			max-width: $global-width + ($global-padding * 2);
			position: relative;
			width: 100%;
			z-index: 5;
		}

		&-title {
			bottom: -30px;
			color: $color-white;
			font-family: $font-aktiv-grotesk-bold;
			font-size: rem-calc(48);
			left: 0;
			opacity: 0;
			padding-left: 20px;
			position: absolute;
			transform: translateX(20px);
			transition: transform 700ms ease-in, opacity 700ms ease-in;

			@include mq($mq-full) {
				bottom: -25px;
				font-size: rem-calc(84);
				line-height: 1;
			}

			.is-active-slide & {
				opacity: 1;
				transform: translateX(0);
				transition: opacity 300ms 700ms ease-in;
			}
		}

		&-image {
			opacity: 0;
			transform: translateX(-50px);
			transition: opacity 800ms ease-out, transform 800ms ease-out;
			z-index: 1;

			.is-active-slide & {
				opacity: 1;
				transform: translateX(0);
				transition: filter 400ms ease-out;
				z-index: 0;
			}
		}
	}

	&__image-overlay {
		background: linear-gradient(180deg, rgba(10,30,63,0) 0%, #0A1E3F 100%);
		bottom: 0;
		height: 67px;
		left: 0;
		position: absolute;
		right: 0;
		width: 100%;
		z-index: 3;
	}

	&__controls {
		padding-top: 40px;
	}
}


//-----------------------------------------
// Login Form
//-----------------------------------------
.hero-home {
	&__login-wrapper {
		align-self: flex-end;
		margin: 0 auto;
		max-width: $global-width + ($global-padding * 2);
		position: relative;
		width: 100%;
	}

	&__login {
		padding: 60px 20px;
		position: relative;
		z-index: 5;

		@include mq($mq-tablet) {
			bottom: -100px;
			max-width: 323px;
			padding: 0 20px;
			position: absolute;
			right: 0;
		}
	}
}


//-----------------------------------------
// Banner containing Title and CTA link
//-----------------------------------------
.hero-home {
	&__banner {
		background-color: $color-primary;
		padding: 0 20px 25px;
		position: relative;

		@include mq($mq-medium) {
			padding-bottom: 75px;
		}
	}

	&__banner-inner {
		margin: 0 auto;
		max-width: $global-width;
		min-height: 150px;
		position: relative;
	}

	&__title {
		color: $color-white;
		font-family: $font-aktiv-grotesk-bold;
		font-size: rem-calc(48);
		line-height: rem-calc(52);
		max-width: 300px;
		padding-right: 75px;
		padding-top: 12px;

		@include mq($mq-medium) {
			max-width: 725px;
			padding-top: 27px;
		}
		@include mq($mq-full) {
			font-size: rem-calc(74);
			line-height: rem-calc(84);
		}
	}

	&__cta {
		bottom: 6px;
		position: absolute;
		right: 0;

		@include mq($mq-mobile-large) {
			bottom: 15px;
		}
		@include mq($mq-medium) {
			bottom: initial;
			top: 60px;
		}
	}
}


//-----------------------------------------
// Bottom Section
//-----------------------------------------
.hero-home {
	&__bottom {
		padding: 0 20px;
		position: relative;

		&::before {
			background-color: $color-white;
			bottom: 0;
			content: '';
			height: 100%;
			left: 0;
			perspective: 1000px;
			position: absolute;
			right: 0;
			top: 0;
			transform: skewY(-3deg);
			transform-origin: 0;

			@include mq($mq-full) {
				box-shadow: inset 0 3px 3px transparentize($color-tertiary-medium, 0.5);
				filter: blur(0); // Give me some GPU!
				transform: translateZ(0) skewY(-3deg);
			}
		}
	}

	&__bottom-inner {
		margin: 0 auto;
		max-width: $global-width;
		padding-top: 110px;
		position: relative;

		@include mq($mq-full) {
			padding-top: 130px;
		}
	}

	&__description {
		color: $color-tertiary-medium;
		position: relative;
		width: 80%;
		z-index: 1;

		@include mq($mq-full) {
			padding-left: 70px;
			width: 58%;
		}

		p {
			@include mq($mq-medium) {
				font-size: rem-calc(24);
			}
		}
	}
}


//-----------------------------------------
// View More "Discover More"
//-----------------------------------------
.hero-home {
	&__view-more {
		display: flex;
		flex-wrap: nowrap;
		position: absolute;
		right: 20px;
		top: 0;
		z-index: 1;

		@include mq($mq-full) {
			right: 0;
			top: -35px;
		}

		&-text {
			color: $color-tertiary-light;
			font-family: $font-aktiv-grotesk-medium;
			font-size: rem-calc(14);
			line-height: rem-calc(18);
			text-align: right;
			text-transform: uppercase;

			@include mq($mq-full) {
				font-family: $font-aktiv-grotesk-light;
				font-size: rem-calc(22);
				line-height: rem-calc(25);
				text-transform: capitalize;
			}
		}

		&-arrow {
			padding: 5px 0 0;

			svg {
				height: auto;
				max-height: 53px;
				transform: translateX(5px);
				width: 100%;

				@include mq($mq-full) {
					max-height: 108px;
				}
			}
		}
	}
}
